<% if flash[:notice] %>
    <div class="container">
        <div class="row justify-content-center my-3">
            <div class="col-lg-6">
                <div id="notice_wrapper">
                    <div class="alert alert-success">
                        <%= flash[:notice] %>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% elsif flash[:error] %>
    <div class="container">
        <div class="row justify-content-center my-3">
            <div class="col-lg-6">
                <div id="notice_wrapper">
                    <div class="alert alert-error">
                        <%= flash[:error] %>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% elsif flash[:alert] %>
    <div class="container">
        <div class="row justify-content-center my-3">
            <div class="col-lg-6">
                <div id="notice_wrapper">
                    <div class="alert">
                        <%= flash[:alert] %>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% end %>